.pheader{
    background-color: #16232e;
    height: 50px;
    padding: 16px 48px;
    display: flex;
    align-items: center;
    position: sticky;
}
.himg{
    height: 40px;
    position: relative;
    top: 2px;
    width: 112px;
}
.listhead{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font-size: 20px;
    font-weight: 200;
}
.listhead>li{
    margin: 10px;
    cursor: pointer;
    max-width: 100px;
}
.trybut{
    margin: auto;
    font-size: 16px;
    background-color: #1d80b2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 24px;
    cursor: pointer;
    font-weight: 100;
}
.trybut:hover{
    background-color: #3089b6;
}
.search{
    margin-left: -400px;
}
.globe{
    margin: 40px;
    margin-right: 0px;
    color: white;
    cursor: pointer;
}
.en{
    color: white;
    font-size: large;
    margin-right: 40px;
    cursor: pointer;
}
.acc{
    color: white;
    cursor: pointer;
}